{% load static %}

<div class="row Question_main">
    <div class="col-3 avatar_and_rating">
        <!--аватарка-->
        <img class="avatar" src="{{ qurstion.user.avatar }}" alt="">
        <div class="rating">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-success">
                    <span class="badge badge-light">{{ question.likes_count }}</span>
                </button>
                <button type="button" class="btn btn-danger">
                    <span class="badge badge-light">{{ question.dislikes_count }}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-9 question_info main_question">
        <!--вопрос-->
        <div class="titles">
            <div class="selected">{{ question.title }}</div>
        </div>
        <div class="row question_text">
            {{ question.question_text }}
        </div>
        <div class="row">
            <div class="col-8">
                <div class="tags">
                    <h4>tags:</h5>
                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tagid=tag %}" class="tag">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
